
<h1>Cocktails</h1>

<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <div class="card-body">
      <%= link_to cocktail.name, cocktail_path(cocktail)%>
    </div>
    <% end %>
  </div>
  <button type="button" class="btn btn-outline-secondary">
<%= link_to "Add a new Cocktail", new_cocktail_path%>
</button>
</div>



<!-- <button type="button" class="btn btn-outline-secondary">Secondary</button>
 -->
<!-- <div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div> -->
